@font-face {
  font-family: "AlegreyaSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/AlegreyaSans-Regular/AlegreyaSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AlegreyaSans-Regular/AlegreyaSans-Regular.woff") format("woff"), url("../fonts/AlegreyaSans-Regular/AlegreyaSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "BilboSwashCaps";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BilboSwashCaps-Regular/BilboSwashCaps-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BilboSwashCaps-Regular/BilboSwashCaps-Regular.woff") format("woff"), url("../fonts/BilboSwashCaps-Regular/BilboSwashCaps-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "NirmalaUI";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NirmalaUI/NirmalaUI.eot?#iefix") format("embedded-opentype"), url("../fonts/NirmalaUI/NirmalaUI.woff") format("woff"), url("../fonts/NirmalaUI/NirmalaUI.ttf") format("truetype"); }

@font-face {
  font-family: "NirmalaUI_Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/NirmalaUI-Bold/NirmalaUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NirmalaUI-Bold/NirmalaUI-Bold.woff") format("woff"), url("../fonts/NirmalaUI-Bold/NirmalaUI-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "NirmalaUI_Semilight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/NirmalaUI-Semilight/NirmalaUI-Semilight.eot?#iefix") format("embedded-opentype"), url("../fonts/NirmalaUI-Semilight/NirmalaUI-Semilight.woff") format("woff"), url("../fonts/NirmalaUI-Semilight/NirmalaUI-Semilight.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto-Condensed";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Condensed/Roboto-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Condensed/Roboto-Condensed.woff") format("woff"), url("../fonts/Roboto-Condensed/Roboto-Condensed.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoCondensedItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoCondensedBold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/RobotoCondensedBold/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedBold/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensedBold/RobotoCondensed-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoCondensedLightItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.woff") format("woff"), url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoCondensedRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensedRegular/RobotoCondensed-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoCondensedLight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoCondensLight/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoCondensLight/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensLight/RobotoCondensed-Light.ttf") format("truetype"); }

@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"); }
